* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

nav {
    display: flex;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    justify-content: space-between;
}

section {
    width: 75%;
    margin-left: 20px;
    margin-bottom: 100px;
    padding: 5px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

section p {
    line-height: 30px;
}

h1 {
    display: inline-block;
    font-size: 40px;
}

h1 .seo {
    color: #ccceca;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    flex-direction: row;
    flex: 0 0 500px;
    font-size: 18px;
}
figure {
    text-align: center;
}

.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
    
}

img {
    display: block;
    margin: 10x auto;
    max-width: 150px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

aside {
    margin-right: 20px;
    padding: 10px;
    clear: both;
    float: right;
    width: 19%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

#aside-box {
    position: relative;
    bottom: 900px;
    right: 0;
}

h2 {
    margin-bottom: 5px;
    font-size: 20px;
}

h3 {
    margin-bottom: 20px;
    font-size: 16px;
    margin: 20px;
    text-align: center;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    flex: 0 0 30px;;
}